# Automatically set correct node version using nvm
if [ -f $HOME/.nvm/nvm.sh ]; then
  # Ensure that nvm is available by checking if it is already loaded and, if not, loading it from the nvm.sh script.
  type nvm >/dev/null 2>&1 || . $HOME/.nvm/nvm.sh
  nvm use
  # Install npm dependencies using ci to clean first
  npm ci
fi
